
<style>
</style>

<!-- Toolbar -->

<div>
  <p>Количество кликов {{count}}</p>
  <button (click)="increase($event)">Click</button>
  <div>
    <h3>Обычный input</h3>
    <input [(ngModel)]="simpleInputValue" type="text" />
    <outcomp [text]="simpleInputValue"> </outcomp>
  </div>
  <div>
    <h3>Компонентный input</h3>
    <incomp [(text)]="componentInputValue"></incomp>
    <outcomp [text]="componentInputValue"> </outcomp>
  </div>
  <div>
    <h3>Проверка жизненного цикла компонента вывода</h3>
    <input [(ngModel)]="checkStateValue" type="text" />
    <outCompWithCheck [text]="checkStateValue"> </outCompWithCheck>
  </div>
  <div><p bold> Проверка Директивы</p></div>
</div>
